*{
    margin: 0;
    padding: 0;
}

div{

    background-image: url(./banner.jpg);
    width: 1200px;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
    padding: 100px 50px 0px 800px;
}

h1{
    /* background-color: rgba(255, 228, 196, 0.771); */
    margin-bottom: 10px;
}

p{
    /* background-color: rgba(127, 255, 212, 0.765); */
    font-style: normal;
}
/* *{

    padding: 0;
    margin: 0;
}

div{
    background-image: url(./banner.jpg);
    width: 1200px;
    height: 400px;
    margin: auto;
    padding-left: 800px;
    box-sizing: border-box;
    padding-top: 100px;
    padding-right: 50px;
}

h1{
    margin-bottom: 15px;
} */