@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #E3E1C6;
}


.header {
	border-top: #066 20px solid;
	border-bottom: #066 20px solid;
}

.header img {
	vertical-align: bottom;
	/* 圖片會跟著變化大小*/
	width: 100%;
	height: auto;
}

.box {
	display: flex;
	/* flex-wrap: wrap; */
}

/* flex 指令都下在母盒, 子最多 */

.box>div {
	/* width: calc(100%/3); */

	padding: 20px;
	box-sizing: border-box;
}

.box .b1 {
	background-color: orange;
	/* 正剩餘空間 負剩餘空間 del flex-wrap: wrap*/
	flex: 1 1 300px;
}

.box .b2 {
	background-color: rgb(0, 255, 13);
	flex: 1 0 300px;
}

.box .b3 {
	background-color: rgb(0, 247, 255);
	flex: 0 0 300px;
}

