* {
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url(./1.13.jpg); */
}

div{
    width: 960px;
    margin: auto;
    height: 150px;
    padding: 10px 30px 0 30px;
    box-sizing: border-box;
}

h1{
    background-color: rgb(222, 250, 96);
  
}

p{
    
}


.logo {

}

ul {}

li {
    float: left;
    margin-right: 10px;
    background-color: rgba(48, 164, 241, 0.589);
    list-style: none;
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    padding-top: 75px;
    box-sizing: border-box;
}

/* li a {} */

/* li a:hover{} */